body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #080f28;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* color nav */
.navbar-custom {
  background-color: #CBCBCB;
}

/* color blanco toggler */
.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: #ffffff;
}

/* ESTILOS A LOS LINKS */
.custom-link {
  color: #ffffff;
  margin: 5px;
}

.custom-link:hover {
  color: #080f28;
}

/* Estilos modal registro */
.custom-button {
  border-radius: 30px;
  height: 50px;
}

.custom-form-control {
  border-radius: 30px;
  height: 50px;
  background-color: #080f28;
}

.custom-form-label {
  margin-left: 15px;
}

/* personalizamos la modal con los bordes */
.modal-content {
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}

.modal-header {
  padding: 35px;
}

/* Contenido crear pelicula */
.color-text {
  color: #ffffff;
}

.custom-button-movie {
  border-radius: 30px;
  font-size: 16px;
  height: 50px;
}

/* container de la pagina */
.custom-container {
  padding: 10px;
}

/* margin card */
.custom-card {
  margin-top: 10px;
}
